<section class="row bg-danger p-4">
    <div class="col-md-3 text-white">
        <h1>Jumia Mini</h1>
        <p>Explore our one stop shop for the latest models of items</p>
    </div>
    <div class="col-md-3 text-white">
        <h1>Quick Links</h1>
        <a href=""  class="text-white">Home</a>
        <br>
        <a href=""  class="text-white">Products</a>
        <br>
        <a href=""  class="text-white">Contact</a>
        <br>
        <a href=""  class="text-white">About Us</a>
    </div>
    <div class="col-md-3 text-white">
        <h2>Contact Us</h2>
        <p>Email: Jumia_mini@gmail.com</p>
        <p>Phone: +254710973521</p>
        <p>Address: Uhuru Hw, Nairobi</p>

    </div>
    <div class="col-md-3 text-white">
        <h2>Follow Us</h2>
        <a href="www.x.com">
            <img src="../static/images/x.png" alt="Twitter">
        </a>
        <a href="">
            <img src="../static/images/fb.png" alt="Facebook">
        </a>
        <a href="">
            <img src="../static/images/in.png" alt="Instagram">
        </a>
    </div>
    <hr class="md-5" style="height: 10px; color: white;">
    <b class="text-center text-white">&copy;2024 Jumia Mini. All Rights Reserved.</b>
</section>