<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumia Mini</title>

    <!-- css supporting files -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- jss supporting files -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="container-fluid">
        <!-- insert navbar.html using jinja2 templates -->
        {% include'navbar.html' %}

        <!-- insert carousel.html using jinja2 templates -->
        {% include'carousel.html' %}

         <!-- insert all phones from DB -->
         <br>
         <h3 class="bg-warning text-white p-2 text-center">Phone Accessories</h3>
         <section class="slider p-4">
            <ul class="cs-hidden autoWidth">
                <!-- We store the phones in a item variable called phones  -->
                <!-- We need to loop all the phones to get a single phone item  -->
                <!-- each single phone item has index from 0-5 where -->
                <!-- index 0 is product_id, index 1 is product_name, index 2 is product_desc, index 3 is product_cost, index 4 is product_category and index 5 is product_image_name.  -->

                <!-- loop all the phone items -->
                {% for singlephone in phones %}
                    <li>
                        <div class="box">
                            <div class="slide-img">
                                <img src="../static/images/{{ singlephone [5] }}" alt="{{singlephone[1]}}" width="50" height="50">
                                
                                <!-- put an overlay button  -->
                                <div class="overlay">
                                    <a href="/single/{{singlephone[0]}}" class="buy-btn">Buy Now</a>
                                </div>                     
                            </div>

                            <div class="detail-box">
                                {{ singlephone[1] }} <br> <b class="text-warning">Kshs. {{ singlephone[3] }}</b>
                            </div>
                        </div>


                    </li>


                <!-- End of forloop -->
                {% endfor %}

            </ul>
         </section>
         <br>
         <h3 class="bg-warning text-white p-2 text-center">Electronics</h3>
         <section class="slider p-4">
            <ul class="cs-hidden autoWidth">
                <!-- We store the phones in a item variable called phones  -->
                <!-- We need to loop all the phones to get a single phone item  -->
                <!-- each single phone item has index from 0-5 where -->
                <!-- index 0 is product_id, index 1 is product_name, index 2 is product_desc, index 3 is product_cost, index 4 is product_category and index 5 is product_image_name.  -->

                <!-- loop all the phone items -->
                {% for singleelectronic in electronics %}
                    <li>
                        <div class="box">
                            <div class="slide-img">
                                <img src="../static/images/{{ singleelectronic [5] }}" alt="{{singleelectronic[1]}}" width="50" height="50">
                                
                                <!-- put an overlay button  -->
                                <div class="overlay">
                                    <a href="" class="buy-btn">Buy Now</a>
                                </div>                     
                            </div>

                            <div class="detail-box">
                                {{ singleelectronic[1] }} <br> <b class="text-warning">Kshs. {{ singleelectronic[3] }}</b>
                            </div>
                        </div>


                    </li>


                <!-- End of forloop -->
                {% endfor %}

            </ul>
         </section>
         <br>
         <h3 class="bg-warning text-white p-2 text-center">Beds</h3>
         <section class="slider p-4">
            <ul class="cs-hidden autoWidth">
                <!-- We store the phones in a item variable called phones  -->
                <!-- We need to loop all the phones to get a single phone item  -->
                <!-- each single phone item has index from 0-5 where -->
                <!-- index 0 is product_id, index 1 is product_name, index 2 is product_desc, index 3 is product_cost, index 4 is product_category and index 5 is product_image_name.  -->

                <!-- loop all the phone items -->
                {% for singlebed in beds %}
                    <li>
                        <div class="box">
                            <div class="slide-img">
                                <img src="../static/images/{{ singlebed [5] }}" alt="{{singlebed[1]}}" width="50" height="50">
                                
                                <!-- put an overlay button  -->
                                <div class="overlay">
                                    <a href="" class="buy-btn">Buy Now</a>
                                </div>                     
                            </div>

                            <div class="detail-box">
                                {{ singlebed[1] }} <br> <b class="text-warning">Kshs. {{ singlebed[3] }}</b>
                            </div>
                        </div>


                    </li>


                <!-- End of forloop -->
                {% endfor %}

            </ul>
         </section>
         <br>
         <h3 class="bg-warning text-white p-2 text-center">Beauty</h3>
         <section class="slider p-4">
            <ul class="cs-hidden autoWidth">
                <!-- We store the phones in a item variable called phones  -->
                <!-- We need to loop all the phones to get a single phone item  -->
                <!-- each single phone item has index from 0-5 where -->
                <!-- index 0 is product_id, index 1 is product_name, index 2 is product_desc, index 3 is product_cost, index 4 is product_category and index 5 is product_image_name.  -->

                <!-- loop all the phone items -->
                {% for singlebeauty in beauty %}
                    <li>
                        <div class="box">
                            <div class="slide-img">
                                <img src="../static/images/{{ singlebeauty [5] }}" alt="{{singlebeauty[1]}}" width="50" height="50">
                                
                                <!-- put an overlay button  -->
                                <div class="overlay">
                                    <a href="" class="buy-btn">Buy Now</a>
                                </div>                     
                            </div>

                            <div class="detail-box">
                                {{ singlebeauty[1] }} <br> <b class="text-warning">Kshs. {{ singlebeauty[3] }}</b>
                            </div>
                        </div>


                    </li>


                <!-- End of forloop -->
                {% endfor %}

            </ul>
         </section>
         <br>
         <h3 class="bg-warning text-white p-2 text-center">Media</h3>
         <section class="slider p-4">
            <ul class="cs-hidden autoWidth">
                <!-- We store the phones in a item variable called phones  -->
                <!-- We need to loop all the phones to get a single phone item  -->
                <!-- each single phone item has index from 0-5 where -->
                <!-- index 0 is product_id, index 1 is product_name, index 2 is product_desc, index 3 is product_cost, index 4 is product_category and index 5 is product_image_name.  -->

                <!-- loop all the phone items -->
                {% for singleMedia in Media %}
                    <li>
                        <div class="box">
                            <div class="slide-img">
                                <img src="../static/images/{{ singleMedia [5] }}" alt="{{singleMedia[1]}}" width="50" height="50">
                                
                                <!-- put an overlay button  -->
                                <div class="overlay">
                                    <a href="" class="buy-btn">Buy Now</a>
                                </div>                     
                            </div>

                            <div class="detail-box">
                                {{ singleMedia[1] }} <br> <b class="text-warning">Kshs. {{ singleMedia[3] }}</b>
                            </div>
                        </div>


                    </li>


                <!-- End of forloop -->
                {% endfor %}

            </ul>
         </section>


    </div>


    <!-- Include the footer  -->
    <!-- We use jinja2 template  -->
    {%   include'footer.html'   %}

</body>
</html>